@import './assets/scss/style.scss';
.aic {
	align-items: center;
}

.jcc {
	justify-content: center;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.content-wrapper {
	background: #f1f4f6 !important;
}
