<app-page-title heading="Koi Aquarium Design" subheading="Set up an aquarium design for a specific Koi" icon="pe-7s-safe"></app-page-title>
<div class="card card-body shadow">
    <div class="form-group">
        <div class="row m-0 p-1">
            <input type="text" class="form-control col-md-5" />
            <div class="col-md-1">
                <button class="btn btn-secondary mr-2">Add Design</button>
            </div>
        </div>
    </div>
    <table class="table table-striped bg-white">
        <thead class="table-secondary">
            <tr>
                <th scope="col"></th>
                <th scope="col">Koi</th>
                <th scope="col">with other species</th>
                <th scope="col">with the same specie</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of [1, 2, 3, 4, 5, 6]; index as i">
                <td>
                    <img class="avatar" src="../../../assets/images/Fish/1.jpg" />
                </td>
                <td>Japanese Koi</td>
                <td>Upto 25 Japanese Koi</td>
                <td>2 Japanese Koi, 4 Indian Koi, etc</td>
                <td class="d-flex">
                    <button class="btn btn-sm btn-info mr-2"><i class="pe-7s-pen"></i> Edit</button>
                    <button class="btn btn-sm btn-danger mr-2"><i class="pe-7s-trash"></i> Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>