<app-page-title heading="Food for the Koi" subheading="List down food for a specific Koi" icon="pe-7s-leaf icon-gradient bg-grow-early"></app-page-title>
<div class="card card-body shadow">
    <div class="form-group">
        <div class="row m-0 p-1">
            <input type="text" class="form-control col-md-5" />
            <div class="col-md-1">
                <button class="btn btn-success mr-2">Add Food</button>
            </div>
        </div>
    </div>
    <table class="table table-striped bg-white table-responsive">
        <thead class="table-success">
            <tr>
                <th scope="col"></th>
                <th scope="col">Koi</th>
                <th scope="col">Food</th>
                <th scope="col">Description</th>
                <th scope="col">Effects</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of [1, 2, 3, 4, 5, 6]; index as i">
                <td>
                    <img class="avatar" src="../../../assets/images/Fish/1.jpg" />
                </td>
                <td>Japanese Koi</td>
                <td>Bubod</td>
                <td>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur consequuntur nihil, quasi earum facilis dolore dolores odit maiores voluptatibus atque fugiat, praesentium quidem recusandae odio, est nemo neque numquam. Praesentium!
                </td>
                <td>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur consequuntur nihil, quasi earum facilis dolore dolores odit maiores voluptatibus atque fugiat, praesentium quidem recusandae odio, est nemo neque numquam. Praesentium!
                </td>
                <td class="d-flex">
                    <button class="btn btn-sm btn-info mr-2">
						<i class="pe-7s-pen"></i>
					</button>
                    <button class="btn btn-sm btn-danger mr-2">
						<i class="pe-7s-trash"></i>
					</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>