<ng-template #addKoi>
    <AddKoi></AddKoi>
</ng-template>

<ng-template #koiFoodModal>
    <KoiFood></KoiFood>
</ng-template>

<ng-template #koiDiseaseModal>
    <KoiTank></KoiTank>
</ng-template>

<ng-template #koiTankModal>
    <TankOfKoi></TankOfKoi>
</ng-template>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex w-100">
                    <div>
                        <h1 class="text-info"><i class="mdi mdi-home"></i> Kois</h1>
                        <span class="text-muted mb-3">View Everything Regarding Kois</span>
                    </div>
                    <div class="ml-auto">
                        <Modal size="md" title="Add a Koi" btnTitle="Add Koi" btnClass="btn btn-info btn-rounded" [template]="addKoi"></Modal>
                    </div>
                </div>
                <table class="table table-striped mt-5">
                    <thead class="table-info">
                        <tr>
                            <th class="text-center">Image</th>
                            <th>Type</th>
                            <th>Color</th>
                            <th>Pattern</th>
                            <th class="text-center">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let koi of kois; let i = index">
                            <td class="text-center">
                                <img *ngFor="let src of koi.images" [src]="src" alt="image" />
                            </td>
                            <td>{{ koi.type }}</td>

                            <td>{{ koi.colo }}</td>

                            <td>{{ koi.pattern }}</td>

                            <td class="text-center">
                                <Modal size="md" btnTitle="Food" [title]="'Food for ' + koi.type" btnClass="btn btn-sm btn-success mr-1 btn-rounded" [template]="koiFoodModal" [data]="koi.type"></Modal>

                                <Modal size="md" btnTitle="Diseases" [title]="'Diseases of ' + koi.type" btnClass="btn btn-sm btn-danger mr-1 btn-rounded" [template]="koiDiseaseModal" [data]="koi.type"></Modal>

                                <Modal size="md" btnTitle="Tanks" [title]="'Tanks for ' + koi.type" btnClass="btn btn-sm btn-info mr-1 btn-rounded" [template]="koiTankModal" [data]="koi.type"></Modal>

                                <button class="btn btn-sm btn-warning mr-1 btn-rounded">Edit</button>
                                <button (click)="deleteData(koiIDs[i], koi.type)" class="btn btn-sm btn-danger mr-1 btn-rounded">
									Remove
								</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>