<ng-template #addTank>
    <Tank></Tank>
</ng-template>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex w-100">
                    <div>
                        <h1 class="text-primary"><i class="mdi mdi-inbox"></i>Tanks</h1>
                        <span class="text-muted mb-3">Set up an aquarium design for a specific Koi</span>
                    </div>
                    <div class="ml-auto">
                        <Modal size="md" title="Add a Tank" btnTitle="Add Tank" btnClass="btn btn-primary btn-rounded" [template]="addTank"></Modal>
                    </div>
                </div>
                <table class="table table-striped mt-5">
                    <thead class="table-primary">
                        <tr>
                            <th>Koi</th>
                            <th>Desired temperature</th>
                            <th>Desired pH Level</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tank of tanks; let i = index">
                            <td *ngIf="!editable[i]">{{ tank.koi }}</td>
                            <td *ngIf="!editable[i]">{{ tank.with }}</td>
                            <td *ngIf="!editable[i]">{{ tank.same }}</td>
                            <td *ngIf="!editable[i]" class="text-center">
                                <button (click)="edit(i)" class="btn btn-sm btn-warning btn-rounded mr-1">Edit</button>
                                <button (click)="deleteData(IDs[i], tank.koi)" class="btn btn-sm btn-danger mr-1 btn-rounded">
									Remove
								</button>
                            </td>

                            <td *ngIf="editable[i]">{{ tank.koi }}</td>
                            <td *ngIf="editable[i]">
                                <input type="text" class="form-control" [(ngModel)]="tank.with" />
                            </td>

                            <td *ngIf="editable[i]">
                                <input type="text" class="form-control" [(ngModel)]="tank.same" />
                            </td>
                            <td *ngIf="editable[i]">
                                <button (click)="update(tank, IDs[i]); edit(i)" class="btn btn-primary btn-sm btn-rounded mr-1">
									Save
								</button>

                                <button (click)="edit(i)" class="btn btn-outline-primary btn-sm btn-rounded">
									Cancel
								</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>