<app-page-title heading="List of Kois" subheading="View Everything Regarding Kois" icon="pe-7s-home icon-gradient bg-malibu-beach"></app-page-title>
<div class="card card-body shadow">
    <div class="form-group">
        <div class="row m-0 p-1">
            <input type="text" class="form-control col-md-5" />
            <div class="col-md-1">
                <button class="btn btn-info mr-2">Add Koi</button>
            </div>
        </div>
    </div>
    <table class="table table-striped bg-white">
        <thead class="table-info">
            <tr>
                <th scope="col"></th>
                <th scope="col">Type</th>
                <th scope="col">Color</th>
                <th scope="col">Pattern</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of [1, 2, 3, 4, 5, 6]; index as i">
                <td>
                    <img class="avatar" src="../../../assets/images/Fish/1.jpg" />
                </td>
                <td>Japanese Koi</td>
                <td>Black</td>
                <td>Black, Orange, Blue</td>
                <td>
                    <button class="btn btn-sm btn-success mr-2">Food</button>
                    <button class="btn btn-sm btn-danger mr-2">Diseases</button>
                    <button class="btn btn-sm btn-info mr-2">Containers</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>