<ng-template #addFood>
    <Food></Food>
</ng-template>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex w-100">
                    <div>
                        <h1 class="text-success"><i class="mdi mdi-fish"></i> Food for the koi</h1>
                        <span class="text-muted mb-3">List down food for a specific Koi</span>
                    </div>
                    <div class="ml-auto">
                        <Modal size="md" title="Add a Food" btnTitle="Add Food" btnClass="btn btn-success btn-rounded" [template]="addFood"></Modal>
                    </div>
                </div>
                <table class="table table-striped mt-5">
                    <thead class="table-success">
                        <tr>
                            <th>Koi</th>
                            <th>Food</th>
                            <th>Description</th>
                            <th>Effects</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let food of foods; let i = index">
                            <td>{{ food.koi }}</td>
                            <td>{{ food.food }}</td>
                            <td>{{ food.description }}</td>
                            <td>{{ food.effects }}</td>
                            <td class="text-center">
                                <button class="btn btn-sm btn-warning btn-rounded mr-1">Edit</button>
                                <button (click)="deleteData(IDs[i], food.food)" class="btn btn-sm btn-danger mr-1 btn-rounded">
									Remove
								</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>